.vscode/**
.vscode-test/**
out/**
build/**
scripts/**
node_modules/**
modules/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
resources/welcome.png
resources/context.png
resources/service.png
resources/export.png
resources/import.png
resources/dropdown.png
resources/buttons.png